<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <h1>Invoice</h1>
    <p>Customer: {{ order.user.username }}</p>
    <p>Order ID: {{ order.id }}</p>
    <p>Email: {{ order.user.email }}</p>
    <p>Shipping Address: {{ order.shipping_address }}</p>
    <p>Total Price: {{ order.total_price }}</p>

    <table border="1">
        <tr>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.id_medicine.name_medicine }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
